<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Timestamp Microservice</title>

  <style>
    code {
      color: rgb(199, 37, 78);
      background: rgb(249, 242, 244);
    }

    footer {
      padding: 25px 20px 20px 0
    }

    a {
      text-decoration: none
    }

    #org {
      color: #006400
    }

    #proj {
      color: #e99110
    }

    #coder {
      color: #3498db
    }
  </style>

</head>

<body>
  <h1>Timestamp Microservice</h1>
  <h2>Example Usage:</h2>

  <code>https://timestamp-app.something.com/December%2015,%202015</code>
  <br>
  <code>https://timestamp-app.something.com/1450137600</code>

  <h2>Example Output:</h2>
  <code>{"unix":1450137600,"natural":"December 15, 2015"}</code>

  <footer>
    A solution to the <a id="org" href="https://www.freecodecamp.com" , target="_blank">FreeCodeCamp</a> <a id="proj"
      href="https://www.freecodecamp.com/challenges/timestamp-microservice" , target="_blank">Timestamp Microservice
      Project</a>. Coded by <a id="coder" href="https://www.freecodecamp.com/corneal64" , target="_blank">Cornelius</a>.
  </footer>

</body>

</html>